# dictionary
key:value

In [3]:
student={
    "name":"ankit",
    "age":19,
    "subjects":["coa","dsuc","maths","universal human values","css"],
    "rollno":1900290120016,
    "EnrollmentNo":190029012004815,
    "Father's Name":"Ashok Kumar Yadav",
    "Gender":"M",
    "Semester":2 ,
     "Even/Odd":"Even",
     "Total Subject":7,
     "Theory Subjects":4,
     "Practical Subjects":3,
     "Totalmarks":736,
     "Result Status":"PASS", 
     "SGPA":10,  
}

In [5]:
student["name"]

'ankit'

In [7]:
student.get("rollno")

1900290120016

In [10]:
print(student.get("phone"))

None

In [11]:
student["phone"]=8545859279

In [12]:
student

{'name': 'ankit',
 'age': 19,
 'subjects': ['coa', 'dsuc', 'maths', 'universal human values', 'css'],
 'rollno': 1900290120016,
 'EnrollmentNo': 190029012004815,
 "Father's Name": 'Ashok Kumar Yadav',
 'Gender': 'M',
 'Semester': 2,
 'Even/Odd': 'Even',
 'Total Subject': 7,
 'Theory Subjects': 4,
 'Practical Subjects': 3,
 'Totalmarks': 736,
 'Result Status': 'PASS',
 'SGPA': 10,
 'phone': 8545859279}

In [13]:
student.update(
{
    "name":"Ankit",
     "Semester":1,
     "Even/Odd":"Odd",
     "Total Subjects":6,
     "Theory Subjects":3,
     "Practical Subjects":3,
     "Totalmarks":575
})

In [14]:
student

{'name': 'Ankit',
 'age': 19,
 'subjects': ['coa', 'dsuc', 'maths', 'universal human values', 'css'],
 'rollno': 1900290120016,
 'EnrollmentNo': 190029012004815,
 "Father's Name": 'Ashok Kumar Yadav',
 'Gender': 'M',
 'Semester': 1,
 'Even/Odd': 'Odd',
 'Total Subject': 7,
 'Theory Subjects': 3,
 'Practical Subjects': 3,
 'Totalmarks': 575,
 'Result Status': 'PASS',
 'SGPA': 10,
 'phone': 8545859279,
 'Total Subjects': 6}

In [15]:
del student["age"]

In [17]:
student

{'name': 'Ankit',
 'subjects': ['coa', 'dsuc', 'maths', 'universal human values', 'css'],
 'rollno': 1900290120016,
 'EnrollmentNo': 190029012004815,
 "Father's Name": 'Ashok Kumar Yadav',
 'Gender': 'M',
 'Semester': 1,
 'Even/Odd': 'Odd',
 'Total Subject': 7,
 'Theory Subjects': 3,
 'Practical Subjects': 3,
 'Totalmarks': 575,
 'Result Status': 'PASS',
 'SGPA': 10,
 'phone': 8545859279,
 'Total Subjects': 6}

In [18]:
student.pop("Total Subject")

7

In [19]:
student

{'name': 'Ankit',
 'subjects': ['coa', 'dsuc', 'maths', 'universal human values', 'css'],
 'rollno': 1900290120016,
 'EnrollmentNo': 190029012004815,
 "Father's Name": 'Ashok Kumar Yadav',
 'Gender': 'M',
 'Semester': 1,
 'Even/Odd': 'Odd',
 'Theory Subjects': 3,
 'Practical Subjects': 3,
 'Totalmarks': 575,
 'Result Status': 'PASS',
 'SGPA': 10,
 'phone': 8545859279,
 'Total Subjects': 6}

In [20]:
len(student)

15

In [21]:
student.keys()

dict_keys(['name', 'subjects', 'rollno', 'EnrollmentNo', "Father's Name", 'Gender', 'Semester', 'Even/Odd', 'Theory Subjects', 'Practical Subjects', 'Totalmarks', 'Result Status', 'SGPA', 'phone', 'Total Subjects'])

In [23]:
student.items()

dict_items([('name', 'Ankit'), ('subjects', ['coa', 'dsuc', 'maths', 'universal human values', 'css']), ('rollno', 1900290120016), ('EnrollmentNo', 190029012004815), ("Father's Name", 'Ashok Kumar Yadav'), ('Gender', 'M'), ('Semester', 1), ('Even/Odd', 'Odd'), ('Theory Subjects', 3), ('Practical Subjects', 3), ('Totalmarks', 575), ('Result Status', 'PASS'), ('SGPA', 10), ('phone', 8545859279), ('Total Subjects', 6)])

In [24]:
student.popitem()

('Total Subjects', 6)

In [25]:
a=student.copy()

In [26]:
a

{'name': 'Ankit',
 'subjects': ['coa', 'dsuc', 'maths', 'universal human values', 'css'],
 'rollno': 1900290120016,
 'EnrollmentNo': 190029012004815,
 "Father's Name": 'Ashok Kumar Yadav',
 'Gender': 'M',
 'Semester': 1,
 'Even/Odd': 'Odd',
 'Theory Subjects': 3,
 'Practical Subjects': 3,
 'Totalmarks': 575,
 'Result Status': 'PASS',
 'SGPA': 10,
 'phone': 8545859279}

In [28]:
ankitprofile=dict(a)

In [29]:
ankitprofile

{'name': 'Ankit',
 'subjects': ['coa', 'dsuc', 'maths', 'universal human values', 'css'],
 'rollno': 1900290120016,
 'EnrollmentNo': 190029012004815,
 "Father's Name": 'Ashok Kumar Yadav',
 'Gender': 'M',
 'Semester': 1,
 'Even/Odd': 'Odd',
 'Theory Subjects': 3,
 'Practical Subjects': 3,
 'Totalmarks': 575,
 'Result Status': 'PASS',
 'SGPA': 10,
 'phone': 8545859279}

In [30]:
del ankitprofile

In [31]:
ankitprofile

NameError: name 'ankitprofile' is not defined

# Nested Dictionary 
two dict in one dict

In [37]:
student={
    "first":{
         "Name":"ANURAG SHUKLA",
        "Institute Name":"KIET GROUP OF INSTITUTIONS GHAZIABAD",
        "CourseName":"B.TECH",
        "Branch Name":"COMPUTER SCIENCE",
        "RollNo":1900290120020,
        "EnrollmentNo":190029012004819,
        "Father Name":"SUNEET KUMAR SHUKLA",
        "Gender":"M"
    },
    "second":
    {
         "Name":"Ankit Yadav",
     "Institute Name":" KIET GROUP OF INSTITUTIONS,GHAZIABAD",
     "Course Code Name":"B.TECH",
    "Branch Code Name":"COMPUTER SCIENCE",
     "RollNo":1900290120016,
     "EnrollmentNo":190029012004815,
     "Father's Name":"Ashok Kumar Yadav",
     "Gender":"M"
    },
    "third":
    {
        "Name":"Aakriti Singh",
        "Institute Name":"KIET GROUP OF INSTITUTIONS,GHAZIABAD",
        "Course Name":"B.TECH",
        "Branch Name":"COMPUTER SCIENCE",
        "RollNo":1900290120002,
        "EnrollmentNo":190029012004801,
        "Father's Name":"RAM SANEHI",
        "Gender":"F"
    }
}

In [38]:
student

{'first': {'Name': 'ANURAG SHUKLA',
  'Institute Name': 'KIET GROUP OF INSTITUTIONS GHAZIABAD',
  'CourseName': 'B.TECH',
  'Branch Name': 'COMPUTER SCIENCE',
  'RollNo': 1900290120020,
  'EnrollmentNo': 190029012004819,
  'Father Name': 'SUNEET KUMAR SHUKLA',
  'Gender': 'M'},
 'second': {'Name': 'Ankit Yadav',
  'Institute Name': ' KIET GROUP OF INSTITUTIONS,GHAZIABAD',
  'Course Code Name': 'B.TECH',
  'Branch Code Name': 'COMPUTER SCIENCE',
  'RollNo': 1900290120016,
  'EnrollmentNo': 190029012004815,
  "Father's Name": 'Ashok Kumar Yadav',
  'Gender': 'M'},
 'third': {'Name': 'Aakriti Singh',
  'Institute Name': 'KIET GROUP OF INSTITUTIONS,GHAZIABAD',
  'Course Name': 'B.TECH',
  'Branch Name': 'COMPUTER SCIENCE',
  'RollNo': 1900290120002,
  'EnrollmentNo': 190029012004801,
  "Father's Name": 'RAM SANEHI',
  'Gender': 'F'}}

In [39]:
student["first"]

{'Name': 'ANURAG SHUKLA',
 'Institute Name': 'KIET GROUP OF INSTITUTIONS GHAZIABAD',
 'CourseName': 'B.TECH',
 'Branch Name': 'COMPUTER SCIENCE',
 'RollNo': 1900290120020,
 'EnrollmentNo': 190029012004819,
 'Father Name': 'SUNEET KUMAR SHUKLA',
 'Gender': 'M'}

In [40]:
student["first"]["Name"]

'ANURAG SHUKLA'

In [42]:
student["third"]["RollNo"]

1900290120002

# 3 Dictionary in one dictionary

In [44]:
first={
         "Name":"ANURAG SHUKLA",
        "Institute Name":"KIET GROUP OF INSTITUTIONS GHAZIABAD",
        "CourseName":"B.TECH",
        "Branch Name":"COMPUTER SCIENCE",
        "RollNo":1900290120020,
        "EnrollmentNo":190029012004819,
        "Father Name":"SUNEET KUMAR SHUKLA",
        "Gender":"M"
    }

In [46]:
second={
         "Name":"Ankit Yadav",
     "Institute Name":" KIET GROUP OF INSTITUTIONS,GHAZIABAD",
     "Course Code Name":"B.TECH",
    "Branch Code Name":"COMPUTER SCIENCE",
     "RollNo":1900290120016,
     "EnrollmentNo":190029012004815,
     "Father's Name":"Ashok Kumar Yadav",
     "Gender":"M"
    }

In [47]:
 third={
        "Name":"Aakriti Singh",
        "Institute Name":"KIET GROUP OF INSTITUTIONS,GHAZIABAD",
        "Course Name":"B.TECH",
        "Branch Name":"COMPUTER SCIENCE",
        "RollNo":1900290120002,
        "EnrollmentNo":190029012004801,
        "Father's Name":"RAM SANEHI",
        "Gender":"F"
    }

In [48]:
student={
    "1":first,
    "2":second,
    "3":third
}

In [61]:
student

{'1': {'Name': 'ANURAG SHUKLA',
  'Institute Name': 'KIET GROUP OF INSTITUTIONS GHAZIABAD',
  'CourseName': 'B.TECH',
  'Branch Name': 'COMPUTER SCIENCE',
  'RollNo': 1900290120020,
  'EnrollmentNo': 190029012004819,
  'Father Name': 'SUNEET KUMAR SHUKLA',
  'Gender': 'M'},
 '2': ({'Name': 'Ankit Yadav',
   'Institute Name': ' KIET GROUP OF INSTITUTIONS,GHAZIABAD',
   'Course Code Name': 'B.TECH',
   'Branch Code Name': 'COMPUTER SCIENCE',
   'RollNo': 1900290120016,
   'EnrollmentNo': 190029012004815,
   "Father's Name": 'Ashok Kumar Yadav',
   'Gender': 'M'},),
 '3': {'Name': 'Aakriti Singh',
  'Institute Name': 'KIET GROUP OF INSTITUTIONS,GHAZIABAD',
  'Course Name': 'B.TECH',
  'Branch Name': 'COMPUTER SCIENCE',
  'RollNo': 1900290120002,
  'EnrollmentNo': 190029012004801,
  "Father's Name": 'RAM SANEHI',
  'Gender': 'F'}}

# dict() constructor

In [58]:
d=dict(name="ankit",
     )

In [59]:
d

{'name': 'ankit'}

# function in python

# defining a function

In [62]:
def mytask():
    print("i am your first function")

In [67]:
mytask()
mytask()

i am your first function
i am your first function

In [85]:
def add(x,y):  #formal argumnents
    z=x+y
    print(z)
    
    
add(5,4)    #actual arguments

9

In [86]:
def add(x,y):
    c=x+y
    return c

In [87]:
add(4,7)

11

In [88]:
print(add(6,8))

14

In [89]:
def add_sub(x,y):
    c=x+y
    v=x-y
    return c,v

In [90]:
add_sub(78,34)

(112, 44)

# formal arguments

In [94]:
def employee(name,age):
    print(name)
    print(age)
    
    
employee("ankit",19)

ankit
19

In [95]:
def add_sub(x,y):
    c=x+y
    v=x-y
    return c,v

In [96]:
add_sub(4,6,8)

TypeError: add_sub() takes 2 positional arguments but 3 were given

In [97]:
def add_sub(x,*y):
    c=x+y
    v=x-y
    return c,v

In [99]:
add_sub(1,6,7,3,8)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [10]:
def welcome(*name):
    for i in name:
        print("welcome\n"+i)

In [13]:
welcome("abc")

welcomeabc

In [14]:
welcome("abc","abc1")

welcomeabc
welcomeabc1

In [5]:
a=(1,2,3,4.6)

In [6]:
type(a)

tuple

In [7]:
1+a[3]

5.6

In [8]:
1+a

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [16]:
def add(a,b):
    print(a,b)

In [17]:
add(1,2)

1 2

In [28]:
def add(a,*b):
    print("a=",a)
    print("b=",b)

In [29]:
add(1,2,3,4,5.6)

a= 1
b= (2, 3, 4, 5.6)

In [26]:
def add(a,*b):
    c=a+b
    print(c)

In [27]:
add(1,2.9,4,8,9.6,6.3)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [52]:
def add(a,*b):
    print("a=",a)
    print("b=",b)
    c=a
    for i in b:
        c=c+i
        print(c)

In [53]:
add(1,2.9,4,8,9.6,6.3)

a= 1
b= (2.9, 4, 8, 9.6, 6.3)
3.9
7.9
15.9
25.5
31.8

In [57]:
def add(*a,b):
    print("a=",a)
    print("b=",b)

In [58]:
add(1,3,7,9)

TypeError: add() missing 1 required keyword-only argument: 'b'

# anonymous(nameless) function

In [59]:
#function without name is called anonymous function

In [62]:
def sq(a):
    return a*a

In [63]:
sq(7)

49

In [64]:
s=lambda a:a*a

In [65]:
s(4)

16

In [66]:
a=lambda a,b:a+b

In [68]:
a(2,4)

6

In [70]:
r=lambda *a:a

r(1,2,3,4,5)

In [85]:
r(1,2,6,4,5)

(1, 2, 6, 4, 5)

In [95]:
n=(1,3,6,7,9,4)

In [96]:
def even(r):
    return r%2==0

In [97]:
even(56)

True

In [98]:
e=list(filter(even,n))

In [99]:
print(e)

[6, 4]

In [100]:
e1=list(filter(lambda a:a%2==0,n))

In [101]:
e1

[6, 4]