In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv(r"D:\data science\data\data.csv")

In [4]:
df.head()

     price  bedrooms  living  ground  floors  year
0   313000         3    1340    7912     1.5  1955
1  2384000         5    3650    9050     2.0  1921
2   342000         3    1930   11947     1.0  1966
3   420000         3    2000    8030     1.0  1963
4   550000         4    1940   10500     1.0  1976

In [6]:
price = [313000,2384000,342000,420000,550000,490000,335000,482000,588500,365000,1200000,257950]

In [7]:
price.append(56789)
#list.append(x)
#Add an item to the end of the list.

In [8]:
price

[313000,
 2384000,
 342000,
 420000,
 550000,
 490000,
 335000,
 482000,
 588500,
 365000,
 1200000,
 242500,
 419000,
 367500,
 257950,
 56789]

In [9]:
price.insert(2,57885)
#insert(i, x)
#Insert an item at a given position

In [10]:
price

[313000,
 2384000,
 57885,
 342000,
 420000,
 550000,
 490000,
 335000,
 482000,
 588500,
 365000,
 1200000,
 242500,
 419000,
 367500,
 257950,
 56789]

In [15]:
price.remove(57885)
#Remove the first item from the list whose value is equal to x.

In [23]:
price.pop()
#Remove the item at the given position in the list

56789

In [28]:
price.count(550000)

1

In [29]:
price.sort()

In [30]:
price

[242500,
 257950,
 313000,
 335000,
 342000,
 365000,
 367500,
 419000,
 420000,
 482000,
 490000,
 550000,
 588500,
 1200000,
 2384000]

In [31]:
price.reverse()

In [32]:
price

[2384000,
 1200000,
 588500,
 550000,
 490000,
 482000,
 420000,
 419000,
 367500,
 365000,
 342000,
 335000,
 313000,
 257950,
 242500]

In [33]:
price.copy()

[2384000,
 1200000,
 588500,
 550000,
 490000,
 482000,
 420000,
 419000,
 367500,
 365000,
 342000,
 335000,
 313000,
 257950,
 242500]

In [34]:
price

[2384000,
 1200000,
 588500,
 550000,
 490000,
 482000,
 420000,
 419000,
 367500,
 365000,
 342000,
 335000,
 313000,
 257950,
 242500]

# Using Lists as Stacks

In [35]:
price = [31,23,30,42,55,49,73,30,48,58,8,50,36,10,25]

In [36]:
price

[31, 23, 30, 42, 55, 49, 73, 30, 48, 58, 8, 50, 36, 10, 25]

In [37]:
price.append(89)

In [38]:
price.pop()

89

In [41]:
price.append(67)

In [42]:
price

[31, 23, 30, 42, 55, 49, 73, 30, 48, 58, 8, 50, 36, 10, 25, 67]

# Using Lists as Queues

In [53]:
from collections import deque
#To implement a queue, use collections.deque which was designed to have fast appends and pops from both ends.

In [54]:
queue = deque(['ankit','avantika','ayush','anurag'])

In [55]:
queue

deque(['ankit', 'avantika', 'ayush', 'anurag'])

In [56]:
queue.append('avankit')
# avankit arrives

In [57]:
queue

deque(['ankit', 'avantika', 'ayush', 'anurag', 'avankit'])

In [58]:
queue.popleft()
# The first to arrive now leaves

'ankit'

In [59]:
queue

deque(['avantika', 'ayush', 'anurag', 'avankit'])

# List Comprehensions

In [67]:
square = []
for x in range(10):
    square.append(x**2)

squares = list(map(lambda x: x**2, range(10)))