# Mongodb aggegrate and group

In [ ]:
# db.orders.aggregate([
  # { $match: { status: "A" } },
   #{ $group: { _id: "$cust_id", total: { $sum: "$amount" } } }
#])

In [22]:
from pymongo import MongoClient

#creation of mongoclient
client=MongoClient()

#connect with the port number host
client=MongoClient("mongodb://localhost:27017/")

#access the database
mydb=client['Students']
collectiona=mydb['studentmarks']
data = [
    {
        "Name":"Aakriti Singh",
        "Institute Code & Name":"029 & KIET GROUP OF INSTITUTIONS,GHAZIABAD",
        "Course Code & Name":"04 & B.TECH",
        "Branch Code & Name":"12 & COMPUTER SCIENCE",
        "RollNo":1900290120002,
        "EnrollmentNo":190029012004801,
        "Father's Name":"RAM SANEHI",
        "Gender":"F",
         "Semester":1,
         "Even/Odd":"Odd",
         "Total Subjects":6,
         "Theory Subjects":3,
         "Practical Subjects":3,
         "Totalmarks":507,
         "Result Status":"CP( 0)",
         "SGPA":8.74,
         "Semester":2 ,
         "Even/Odd":"Even",
         "Total Subject":7,
         "Theory Subjects":4,
         "Practical Subjects":3,
         "Totalmarks":658,
         "Result Status":"PASS", 
         "SGPA":9.44
     },
    {
         "Name":"Ankit Yadav",
     "Institute Code & Name":"029 & KIET GROUP OF INSTITUTIONS,GHAZIABAD",
     "Course Code & Name":"04 & B.TECH",
    "Branch Code & Name":"12 & COMPUTER SCIENCE",
     "RollNo":1900290120016,
     "EnrollmentNo":190029012004815,
     "Father's Name":"Ashok Kumar Yadav",
     "Gender":"M",
     "Semester":1,
     "Even/Odd":"Odd",
     "Total Subjects":6,
     "Theory Subjects":3,
     "Practical Subjects":3,
     "Totalmarks":575,
     "Result Status":"CP( 0)",
     "SGPA":10,
     "Semester":2 ,
     "Even/Odd":"Even",
     "Total Subject":7,
     "Theory Subjects":4,
     "Practical Subjects":3,
     "Totalmarks":736,
     "Result Status":"PASS", 
     "SGPA":10,  
    },
    {
        "Name":"ANURAG SHUKLA",
        "Institute Name":"KIET GROUP OF INSTITUTIONS GHAZIABAD",
        "CourseName":"B.TECH",
        "Branch Name":"COMPUTER SCIENCE",
        "RollNo":1900290120020,
        "EnrollmentNo":190029012004819,
        "Father Name":"SUNEET KUMAR SHUKLA",
        "Gender":"M",
        "Semester":1,
        "Even/Odd":"Odd",
        "Total Subjects":6,
        "Theory Subjects":3,
        "Practical Subjects":3,
        "Totalmarks":496,
        "Result Status":"CP 0",
        "SGPA":8.69,
        "Semester":2,
        "Even/Odd":"Even",
        "Total Subjects":7,
        "Theory Subjects":4,
        "Practical Subjects":3,
        "Totalmarks":646,
         "SGPA":9
    }]

In [23]:
collectiona.insert_many(data)

In [6]:
#total number of records
agg_result=collectiona.aggregate(
[
    {
        "$group":
        {
            "_id":"$Name",
            "total Semester":{"$sum":"$Semester"}
        }
    }
])
for i in agg_result:
    print(i)

{'_id': 'Ankit Yadav', 'total Semester': 4}
{'_id': 'Aakriti Singh', 'total Semester': 4}
{'_id': 'ANURAG SHUKLA', 'total Semester': 4}

In [14]:
## CALCULATING THE TOTAL SCORE BASE ON Nmae
agg_result=collectiona.aggregate(
[
    {
        "$group":
        {
            "_id":"$Name",
            "rollnumber":{"$sum":"$RollNo"} 
        }
    }
])

In [15]:
for i in agg_result:
    print(i)

{'_id': 'Ankit Yadav', 'rollnumber': 3800580240032}
{'_id': 'Aakriti Singh', 'rollnumber': 3800580240004}
{'_id': 'ANURAG SHUKLA', 'rollnumber': 3800580240040}

In [16]:
#calculating the average score
agg_result=collectiona.aggregate(
[
    {
        "$group":
        {
            "_id":"$Name",
            "average score":{"$avg":"$Totalmarks"} 
        }
    }
])

In [17]:
for i in agg_result:
    print(i)

{'_id': 'Ankit Yadav', 'average score': 736.0}
{'_id': 'ANURAG SHUKLA', 'average score': 646.0}
{'_id': 'Aakriti Singh', 'average score': 658.0}

In [27]:
## Calculating tha average CGPA and total marks of the 3 students
agg_result=collectiona.aggregate(
[
    {
        "$group":
        {
            "_id":"$Name",
            "average":{"$avg":"$SGPA"},
            "totalmarks":{"$sum":"$Totalmarks"}
        }
    }
])

In [28]:
for i in agg_result:
    print(i)

{'_id': 'Ankit Yadav', 'average': 10.0, 'totalmarks': 1472}
{'_id': 'Aakriti Singh', 'average': 9.44, 'totalmarks': 1316}
{'_id': 'ANURAG SHUKLA', 'average': 8.896666666666667, 'totalmarks': 1292}

In [30]:
## $project(write anything in program print all the things serial wise)
for row in collectiona.aggregate([{"$project":{"EnrollmentNo":1,"SGPA":1}}]):
    print(row)

{'_id': ObjectId('5fda4807ee5150c758cfe3b1'), 'EnrollmentNo': 190029012004801, 'SGPA': 9.44}
{'_id': ObjectId('5fda4807ee5150c758cfe3b2'), 'EnrollmentNo': 190029012004815, 'SGPA': 10}
{'_id': ObjectId('5fda4807ee5150c758cfe3b3'), 'EnrollmentNo': 190029012004819, 'SGPA': 9}
{'_id': ObjectId('5fda5110096b7aed1e8fd66b'), 'EnrollmentNo': 190029012004801, 'SGPA': 9.44}
{'_id': ObjectId('5fda5110096b7aed1e8fd66c'), 'EnrollmentNo': 190029012004815, 'SGPA': 10}
{'_id': ObjectId('5fda5110096b7aed1e8fd66d'), 'EnrollmentNo': 190029012004819, 'SGPA': 8.69}
{'_id': ObjectId('5fda58d0096b7aed1e8fd672'), 'EnrollmentNo': 190029012004801, 'SGPA': 9.44}
{'_id': ObjectId('5fda58d0096b7aed1e8fd673'), 'EnrollmentNo': 190029012004815, 'SGPA': 10}
{'_id': ObjectId('5fda58d0096b7aed1e8fd674'), 'EnrollmentNo': 190029012004819, 'SGPA': 9}