In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv(r"C:\Users\ANKIT\Downloads\data.csv")

In [4]:
df

      price  bedrooms  living  ground  floors  year
0    313000         3    1340    7912     1.5  1955
1   2384000         5    3650    9050     2.0  1921
2    342000         3    1930   11947     1.0  1966
3    420000         3    2000    8030     1.0  1963
4    550000         4    1940   10500     1.0  1976
5    490000         2     880    6380     1.0  1938
6    335000         2    1350    2560     1.0  1976
7    482000         4    2710   35868     2.0  1989
8    452500         3    2430   88426     1.0  1985
9    640000         4    1520    6200     1.5  1945
10   463000         3    1710    7320     1.0  1948
11  1400000         4    2920    4000     1.5  1909
12   588500         3    2330   14892     1.0  1980
13   365000         3    1090    6435     1.0  1955
14  1200000         5    2910    9480     1.5  1939
15   242500         3    1200    9720     1.0  1965
16   419000         3    1570    6700     1.0  1956
17   367500         4    3110    7231     2.0  1997
18   257950         3    1370    5858     1.0  1987

In [12]:
%matplotlib inline

In [13]:
from sklearn import linear_model

In [14]:
r=linear_model.LinearRegression()

In [15]:
r.fit(df[["bedrooms","living","ground","floors","year"]],df["price"])

LinearRegression()

In [16]:
r.predict([[3,1090,6435,1.0,1955]])

array([326115.53015738])

In [17]:
#y=mx+c

r.coef_

array([ 6.51472196e+04,  3.82111313e+02, -1.90189162e-01, -3.10570171e+04,
       -1.28618909e+04])

In [18]:
r.intercept_

24891450.08948767

In [21]:
r.predict([[7,1820,6800,1.8,1983]])

array([480597.68967056])